<html>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Aleksander Real</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Aleksander Real</h1>
                <hr>
                <p>I'm Aleksander Real (you can call me Aleks) and I'm a full-stack software engineer that's passionate about technology and business. When I'm not coding, I'm reading, in the gym, traveling, or on a hike.</p>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="light">
                    <p class="text-faded">I’m a full-stack developing software engineer with experience primarily in Ruby on Rails. I wasn't always a software engineer though. I graduated Magna Cum Laude with a biology degree and my initial exposure to software engineering was during a bioinformatics course where we wrote programs in Perl to help make sense of genetic data. I quickly found a passion for coding and it prompted me to enroll in a Software Engineering bootcamp soon afterward. I’m passionate about software engineering because it provides me the platform to lead, work together in a team, satisfy my itch to learn new complex concepts, and solve difficult problems that help businesses. Deep rooted in my background in science, I also have a natural curiosity and am always pushing myself to learn new and complex concepts. Physics and calculus were subjects that I enjoyed throughout my studies in particular because I had the opportunity to solve complex problems regularly. This passion for solving problems leaked into my business when I founded Spectrum Warehouse because on a day-to-day basis I was finding, tackling, and solving business problems.</p>
                    <br />
                    <a href="https://www.linkedin.com/in/aleksanderreal" class="page-scroll btn btn-default btn-xl sr-button">Checkout My LinkedIn</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Ruby on Rails</h3>
                        <p class="text-muted">This is the framework used to build my projects with the highest quality.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Amazon Web Services</h3>
                        <p class="text-muted">Working on AWS Developer Associate certificate. Also experienced with S3, IAM, and EC2 to make great apps.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>JavaScript</h3>
                        <p class="text-muted">Another great tool in my tool chest that I use for a lot of front-end work.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Best Practices</h3>
                        <p class="text-muted">Projects are made with Agile Methodologies using tools like Trello. Test Driven Development using Rspec is also heavily used to ensure high quality code.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://flixter-aleks-real.herokuapp.com/", class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/Flixter.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ruby on Rails, JavaScript, Stripe API, & AWS (S3)
                                </div>
                                <div class="project-name">
                                    Flixter
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://methodologistsplaychess.herokuapp.com/", class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/Metchess.jpg", class: 'img-responsive', alt: '' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ruby on Rails & JavaScript
                                </div>
                                <div class="project-name">
                                    Metchess (Ongoing)
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://nomster-aleks-real.herokuapp.com/", class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/Nomster.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ruby on Rails, Google Maps API, AWS (S3)
                                </div>
                                <div class="project-name">
                                    Nomster
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://grammable-aleks-real.herokuapp.com/", class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/Grammable.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ruby on Rails & AWS (S3)
                                </div>
                                <div class="project-name">
                                    Grammable
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://todoster-aleks-real.herokuapp.com/", class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/Todo.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ruby on Rails & JavaScript
                                </div>
                                <div class="project-name">
                                    Todo
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://splurty-aleks-real.herokuapp.com/", class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/Splurty.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ruby on Rails
                                </div>
                                <div class="project-name">
                                    Splurty
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Checkout the rest of my code!</h2>
                <a href="https://github.com/AlekstheRealist" class="btn btn-default btn-xl sr-button">Checkout My Github</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>(714) 351-2881</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">Aleksanderreal@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.js" %>

    <!-- Plugin JavaScript -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" %>
    <%= javascript_include_tag "scrollreveal.js" %>
    <%= javascript_include_tag "jquery.magnific-popup.js" %>

    <!-- Theme JavaScript -->
    <%= javascript_include_tag "creative.js" %>

<%= yield %>
</body>
</html>